
.container-fluid {
  background-image: linear-gradient( #F7C3D0, white);
}
#background {
  background-image: radial-gradient(#CADFDA, white);
  /* background-color: #c7e8c1; */
}

#banner {
  /* background-image: url("../images/foad-roshan-TtDNu-Heh3Y-unsplash.jpg"),
                    linear-gradient(#c7e8c1, white); */
  background-image: url("../images/foad-roshan-TtDNu-Heh3Y-unsplash.jpg");               
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
